/* Common CSS */

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.panda-button{
    border-radius: 6px;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 500;
}

.section-title{
    font-size: 36px;
    font-weight: 600;
}

.panda-buy-btn{
    border-radius: 6px;
    background: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 500;
}

/* nav */

nav{
    display: flex;
    justify-content: space-between;
}

.search-parent{
    position: relative;
    color: #bababa;
    text-align: center;
}

.search-parent input{
    background-color:rgb(241, 241, 241);
    border: none;
    border-radius: 66px;
    padding: 12px 12px;
    width: 508px;
}

.search-parent i{
    color: rgb(186, 186, 186);
    position: absolute;
    top: 12px;
    right: 20px;
}

.nav-items{

    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px 0;
}

.nav-items li a{
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-weight: 500;
    font-size: 15px;
}

.banner{
    background-color: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 45px 60px;
    border-radius: 30px;
    margin-top: 15px;

}

.banner h2{
    color: rgb(31, 31, 31);
    font-size: 56px;
    font-weight: 700;
    
}

.banner p{
    color:rgb(78, 78, 78);
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
}

.banner img{
    width: 402px;
    height: 378px;
}

.banner-price{
    color: rgb(255, 19, 111);
    font-size: 41px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}

/* card container */
.categories{
    margin: 64px auto
}

.categories-card-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 26px;
}


.card-container{
    
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 30px 42px;
    align-items: center;
    border-radius: 10px;
    /* sobar eki rokom width er jonno hosse and also for equal distribution  */
    flex: 1;
}

.card-container:nth-child(1){
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}

.card-container:nth-child(2){
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}

.card-container:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}

.card-container h3{
    color: white;
    font-size: 36px;
    font-weight: 500;
    
}

/* shoes and bags section */

.shoes-bag-section{
    background-color: rgb(244, 244, 244);
    padding: 50px 0;
}

.shoes-bagpack-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.shoes-bagpack-title h2{
    font-size: 36px;
    font-weight: 600;
}

.shoes-bagpack-title p{
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 157, 0);
}

.shoes-card-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.shoes-card{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 24px;
    text-align: center;

}

.card-price{
    font-size: 24px;
    font-weight: 500;
}

.shoes-card img{
    width: 290px;
    height: 210px;
}

/* let's Touch Section */

.let-touch{
    background-color: rgb(255,242,241);
    text-align: center;
    margin: 70px;
    padding: 140px 250px;
    border-radius: 10px;
}

.let-touch input{
    border: none;
    padding: 16px 155px;
}

.contact-input{
    display: flex;
    justify-content: center;
    
}


.contact-input input{
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.contact-input button{
    padding: 20px 46px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

